.message-success{
	font-size:15pt;color:#7EC0EE;text-align: center;font-weight:bolder;
}

.message-error{
	font-size:15pt;color:#ff6666;text-align: center;font-weight:bolder;
}

.form-content{
	width: 80%;
    border-radius: 2px;
    margin: 10px auto;
    padding: 20px;
    text-align:center;
}

/*.logo-image{
	margin:8px 0;
}*/

.label-form{
	--color:#bbb;
}